openapi: 3.1.0
info:
  title: Caravan Prediction API
  description: API for inference in new data
  version: 1.0.0
paths:
  /api/caravan-prediction/health_check:
    get:
      tags:
      - Health Check
      summary: Health Check
      operationId: health_check_api_caravan_prediction_health_check_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /api/caravan-prediction/predict:
    post:
      tags:
      - Pipeline
      summary: Upload Csv
      description: 'Endpoint que recibe un archivo CSV, realiza inferencias

        y devuelve CSV con las predicciones'
      operationId: upload_csv_api_caravan_prediction_predict_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_upload_csv_api_caravan_prediction_predict_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/caravan-prediction/predict-json:
    post:
      tags:
      - Pipeline
      summary: Predict From Json
      description: 'Endpoint que recibe una lista de diccionarios JSON,

        convierte a DataFrame, ejecuta inferencia y devuelve las predicciones como
        JSON.'
      operationId: predict_from_json_api_caravan_prediction_predict_json_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PredictionInput'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    Body_upload_csv_api_caravan_prediction_predict_post:
      properties:
        file:
          type: string
          format: binary
          title: File
      type: object
      required:
      - file
      title: Body_upload_csv_api_caravan_prediction_predict_post
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    PredictionInput:
      properties:
        data:
          items:
            additionalProperties:
              type: number
            type: object
          type: array
          title: Data
      type: object
      required:
      - data
      title: PredictionInput
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
tags:
- name: Health Check
  description: Health check endpoint
- name: Pipeline
  description: Inference in caravan prediction
